
.vs/FreeRTOS_growcube/project-colors.json
.vs/FreeRTOS_growcube/v17/.suo
.vs/FreeRTOS_growcube/v17/Browse.VC.db
.vs/FreeRTOS_growcube/v17/Browse.VC.db-shm
.vs/FreeRTOS_growcube/v17/Browse.VC.db-wal
.vs/FreeRTOS_growcube/v17/Browse.VC.opendb
.vs/FreeRTOS_growcube/v17/ipch/AutoPCH/745c10c5fbc68337/.FREERTOS_GROWCUBE.VSARDUINO.ipch
.vs/FreeRTOS_growcube/v17/ipch/AutoPCH/8d09321e4061ada5/FREERTOS_GROWCUBE.ipch
.vs/FreeRTOS_growcube/v17/ipch/AutoPCH/98afa64a40b94b43/PWM_DEVICE.ipch
.vs/FreeRTOS_growcube/v17/ipch/AutoPCH/e2056b03a34f9a94/PWM_DEVICE.ipch
.vs/FreeRTOS_growcube/v17/ipch/AutoPCH/e251d370c7364889/.FREERTOS_GROWCUBE.VSARDUINO.ipch
.vs/FreeRTOS_growcube/v17/ipch/AutoPCH/fdcd87bda6d8cb55/PWM_DEVICE.ipch
__vm/.FreeRTOS_growcube.vsarduino.h
__vm/Compile.vmps.xml
__vm/Configuration.Debug.vmps.xml
__vm/Configuration.Release.vmps.xml
__vm/Upload.vmps.xml
Debug/Adafruit_BusIO/Adafruit_BusIO_Register.cpp.d
Debug/Adafruit_BusIO/Adafruit_BusIO_Register.cpp.o
Debug/Adafruit_BusIO/Adafruit_I2CDevice.cpp.d
Debug/Adafruit_BusIO/Adafruit_I2CDevice.cpp.o
Debug/Adafruit_BusIO/Adafruit_SPIDevice.cpp.d
Debug/Adafruit_BusIO/Adafruit_SPIDevice.cpp.o
Debug/Adafruit_INA260_Library/Adafruit_INA260.cpp.d
Debug/Adafruit_INA260_Library/Adafruit_INA260.cpp.o
Debug/board.buildinfo
Debug/FreeRTOS_growcube.bin
Debug/FreeRTOS_growcube.bootloader.bin
Debug/FreeRTOS_growcube.cpp.d
Debug/FreeRTOS_growcube.cpp.o
Debug/FreeRTOS_growcube.elf
Debug/FreeRTOS_growcube.ino.bin
Debug/FreeRTOS_growcube.ino.bootloader.bin
Debug/FreeRTOS_growcube.ino.elf
Debug/FreeRTOS_growcube.ino.partitions.bin
Debug/FreeRTOS_growcube.partitions.bin
Debug/pwm_device.c.d
Debug/pwm_device.c.o
Debug/pwm_device.cpp.d
Debug/pwm_device.cpp.o
Debug/SPI/SPI.cpp.d
Debug/SPI/SPI.cpp.o
Debug/VM_DBG/VM_DBG.cpp.d
Debug/VM_DBG/VM_DBG.cpp.o
Debug/VM_DBG/VM_mem_check_sam.cpp.d
Debug/VM_DBG/VM_mem_check_sam.cpp.o
Debug/Wire/Wire.cpp.d
Debug/Wire/Wire.cpp.o
FreeRTOS_growcube.sln
FreeRTOS_growcube.vcxproj
FreeRTOS_growcube.vcxproj.filters
FreeRTOS_growcube.vcxproj.user
Release/Adafruit_BusIO/Adafruit_BusIO_Register.cpp.d
Release/Adafruit_BusIO/Adafruit_BusIO_Register.cpp.o
Release/Adafruit_BusIO/Adafruit_I2CDevice.cpp.d
Release/Adafruit_BusIO/Adafruit_I2CDevice.cpp.o
Release/Adafruit_BusIO/Adafruit_SPIDevice.cpp.d
Release/Adafruit_BusIO/Adafruit_SPIDevice.cpp.o
Release/Adafruit_INA260_Library/Adafruit_INA260.cpp.d
Release/Adafruit_INA260_Library/Adafruit_INA260.cpp.o
Release/board.buildinfo
Release/FreeRTOS_growcube.bin
Release/FreeRTOS_growcube.bootloader.bin
Release/FreeRTOS_growcube.cpp.d
Release/FreeRTOS_growcube.cpp.o
Release/FreeRTOS_growcube.elf
Release/FreeRTOS_growcube.ino.bin
Release/FreeRTOS_growcube.ino.bootloader.bin
Release/FreeRTOS_growcube.ino.elf
Release/FreeRTOS_growcube.ino.partitions.bin
Release/FreeRTOS_growcube.partitions.bin
Release/pwm_device.cpp.d
Release/pwm_device.cpp.o
Release/SPI/SPI.cpp.d
Release/SPI/SPI.cpp.o
Release/Wire/Wire.cpp.d
Release/Wire/Wire.cpp.o
src/arduino folders read me.txt
