
.vs/FreeRTOS_growcube/project-colors.json
.vs/FreeRTOS_growcube/v17/.suo
.vs/FreeRTOS_growcube/v17/Browse.VC.db
.vs/FreeRTOS_growcube/v17/Browse.VC.db-shm
.vs/FreeRTOS_growcube/v17/Browse.VC.db-wal
.vs/FreeRTOS_growcube/v17/Browse.VC.opendb
.vs/FreeRTOS_growcube/v17/ipch/AutoPCH/745c10c5fbc68337/.FREERTOS_GROWCUBE.VSARDUINO.ipch
.vs/FreeRTOS_growcube/v17/ipch/AutoPCH/8d09321e4061ada5/FREERTOS_GROWCUBE.ipch
.vs/FreeRTOS_growcube/v17/ipch/AutoPCH/98afa64a40b94b43/PWM_DEVICE.ipch
.vs/FreeRTOS_growcube/v17/ipch/AutoPCH/e2056b03a34f9a94/PWM_DEVICE.ipch
.vs/FreeRTOS_growcube/v17/ipch/AutoPCH/e251d370c7364889/.FREERTOS_GROWCUBE.VSARDUINO.ipch
.vs/FreeRTOS_growcube/v17/ipch/AutoPCH/fdcd87bda6d8cb55/PWM_DEVICE.ipch
__vm/.FreeRTOS_growcube.vsarduino.h
__vm/Compile.vmps.xml
__vm/Configuration.Debug.vmps.xml
__vm/Configuration.Release.vmps.xml
__vm/Upload.vmps.xml
Debug/Adafruit_BusIO/Adafruit_BusIO_Register.cpp.d
Debug/Adafruit_BusIO/Adafruit_BusIO_Register.cpp.o
Debug/Adafruit_BusIO/Adafruit_I2CDevice.cpp.d
Debug/Adafruit_BusIO/Adafruit_I2CDevice.cpp.o
Debug/Adafruit_BusIO/Adafruit_SPIDevice.cpp.d
Debug/Adafruit_BusIO/Adafruit_SPIDevice.cpp.o
Debug/Adafruit_INA260_Library/Adafruit_INA260.cpp.d
Debug/Adafruit_INA260_Library/Adafruit_INA260.cpp.o
Debug/board.buildinfo
Debug/FreeRTOS_growcube.bin
Debug/FreeRTOS_growcube.bootloader.bin
Debug/FreeRTOS_growcube.cpp.d
Debug/FreeRTOS_growcube.cpp.o
Debug/FreeRTOS_growcube.elf
Debug/FreeRTOS_growcube.ino.bin
Debug/FreeRTOS_growcube.ino.bootloader.bin
Debug/FreeRTOS_growcube.ino.elf
Debug/FreeRTOS_growcube.ino.partitions.bin
Debug/FreeRTOS_growcube.partitions.bin
Debug/pwm_device.c.d
Debug/pwm_device.c.o
Debug/pwm_device.cpp.d
Debug/pwm_device.cpp.o
Debug/SPI/SPI.cpp.d
Debug/SPI/SPI.cpp.o
Debug/VM_DBG/VM_DBG.cpp.d
Debug/VM_DBG/VM_DBG.cpp.o
Debug/VM_DBG/VM_mem_check_sam.cpp.d
Debug/VM_DBG/VM_mem_check_sam.cpp.o
Debug/Wire/Wire.cpp.d
Debug/Wire/Wire.cpp.o
FreeRTOS_growcube.sln
FreeRTOS_growcube.vcxproj
FreeRTOS_growcube.vcxproj.filters
FreeRTOS_growcube.vcxproj.user
Release/Adafruit_BusIO/Adafruit_BusIO_Register.cpp.d
Release/Adafruit_BusIO/Adafruit_BusIO_Register.cpp.o
Release/Adafruit_BusIO/Adafruit_I2CDevice.cpp.d
Release/Adafruit_BusIO/Adafruit_I2CDevice.cpp.o
Release/Adafruit_BusIO/Adafruit_SPIDevice.cpp.d
Release/Adafruit_BusIO/Adafruit_SPIDevice.cpp.o
Release/Adafruit_INA260_Library/Adafruit_INA260.cpp.d
Release/Adafruit_INA260_Library/Adafruit_INA260.cpp.o
Release/board.buildinfo
Release/FreeRTOS_growcube.bin
Release/FreeRTOS_growcube.bootloader.bin
Release/FreeRTOS_growcube.cpp.d
Release/FreeRTOS_growcube.cpp.o
Release/FreeRTOS_growcube.elf
Release/FreeRTOS_growcube.ino.bin
Release/FreeRTOS_growcube.ino.bootloader.bin
Release/FreeRTOS_growcube.ino.elf
Release/FreeRTOS_growcube.ino.partitions.bin
Release/FreeRTOS_growcube.partitions.bin
Release/pwm_device.cpp.d
Release/pwm_device.cpp.o
Release/SPI/SPI.cpp.d
Release/SPI/SPI.cpp.o
Release/Wire/Wire.cpp.d
Release/Wire/Wire.cpp.o
src/arduino folders read me.txt
.vs/FreeRTOS_growcube/v17/ipch/AutoPCH/7bdc9cf3a3840bef/PASSWORD.ipch
Debug/LiquidCrystal_I2C/LiquidCrystal_I2C.cpp.d
Debug/LiquidCrystal_I2C/LiquidCrystal_I2C.cpp.o
Debug/WiFi/ETH.cpp.d
Debug/WiFi/ETH.cpp.o
Debug/WiFi/WiFi.cpp.d
Debug/WiFi/WiFi.cpp.o
Debug/WiFi/WiFiAP.cpp.d
Debug/WiFi/WiFiAP.cpp.o
Debug/WiFi/WiFiClient.cpp.d
Debug/WiFi/WiFiClient.cpp.o
Debug/WiFi/WiFiGeneric.cpp.d
Debug/WiFi/WiFiGeneric.cpp.o
Debug/WiFi/WiFiMulti.cpp.d
Debug/WiFi/WiFiMulti.cpp.o
Debug/WiFi/WiFiScan.cpp.d
Debug/WiFi/WiFiScan.cpp.o
Debug/WiFi/WiFiServer.cpp.d
Debug/WiFi/WiFiServer.cpp.o
Debug/WiFi/WiFiSTA.cpp.d
Debug/WiFi/WiFiSTA.cpp.o
Debug/WiFi/WiFiUdp.cpp.d
Debug/WiFi/WiFiUdp.cpp.o
password.h
Release/LiquidCrystal_I2C/LiquidCrystal_I2C.cpp.d
Release/LiquidCrystal_I2C/LiquidCrystal_I2C.cpp.o
Release/VM_DBG/VM_DBG.cpp.d
Release/VM_DBG/VM_DBG.cpp.o
Release/VM_DBG/VM_mem_check_sam.cpp.d
Release/VM_DBG/VM_mem_check_sam.cpp.o
Release/WiFi/ETH.cpp.d
Release/WiFi/ETH.cpp.o
Release/WiFi/WiFi.cpp.d
Release/WiFi/WiFi.cpp.o
Release/WiFi/WiFiAP.cpp.d
Release/WiFi/WiFiAP.cpp.o
Release/WiFi/WiFiClient.cpp.d
Release/WiFi/WiFiClient.cpp.o
Release/WiFi/WiFiGeneric.cpp.d
Release/WiFi/WiFiGeneric.cpp.o
Release/WiFi/WiFiMulti.cpp.d
Release/WiFi/WiFiMulti.cpp.o
Release/WiFi/WiFiScan.cpp.d
Release/WiFi/WiFiScan.cpp.o
Release/WiFi/WiFiServer.cpp.d
Release/WiFi/WiFiServer.cpp.o
Release/WiFi/WiFiSTA.cpp.d
Release/WiFi/WiFiSTA.cpp.o
Release/WiFi/WiFiUdp.cpp.d
Release/WiFi/WiFiUdp.cpp.o
.vs/FreeRTOS_growcube/v17/fileList.bin
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
Release/Arduino_JSON/cjson/cJSON.c.d
Release/Arduino_JSON/cjson/cJSON.c.o
Release/Arduino_JSON/JSON.cpp.d
Release/Arduino_JSON/JSON.cpp.o
Release/Arduino_JSON/JSONVar.cpp.d
Release/Arduino_JSON/JSONVar.cpp.o
Release/HTTPClient/HTTPClient.cpp.d
Release/HTTPClient/HTTPClient.cpp.o
Release/WiFiClientSecure/ssl_client.cpp.d
Release/WiFiClientSecure/ssl_client.cpp.o
Release/WiFiClientSecure/WiFiClientSecure.cpp.d
Release/WiFiClientSecure/WiFiClientSecure.cpp.o
*.d
.vs/FreeRTOS_growcube/v17/ipch/AutoPCH/23e27ce9cc6683aa/504_DIJKSTRA_HEAP.ipch
Database/pod_settings_new.db
Release/Adafruit_TSL2591_Library/Adafruit_TSL2591.cpp.o
Release/Adafruit_Unified_Sensor/Adafruit_Sensor.cpp.o
Release/LiquidCrystal/LiquidCrystal.cpp.o
